<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/a3979995-d150-4c30-8b9d-f2db3d44e55e/resourcegroups/Group03/providers/Microsoft.Web/sites/letsdocoding-cognitologin20220407232121</ResourceId>
    <ResourceGroup>Group03</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://letsdocoding-cognitologin20220407232121.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>7fe1993d-ec08-4924-8b49-dee549ec8c3a</ProjectGuid>
    <PublishUrl>https://letsdocoding-cognitologin20220407232121.scm.azurewebsites.net/</PublishUrl>
    <UserName>$letsdocoding-cognitologin20220407232121</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>