@using Microsoft.AspNetCore.Authentication
@{
    ViewData["Title"] = "Products Page";
}

<div class="text-center">
    <h1 class="display-4">Templates</h1>
</div>








<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="~/css/StyleSheet.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>
<body>

    <header class="site-header clearfix">
        <nav>
            <div class="logo">
                <h1>IBM PROJECT</h1>
            </div>
            <div class="menu">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">AboutUs</a></li>
                    <li><a href="#">ContactUs</a></li>
                </ul>
            </div>
        </nav>
        <section>
            <div class="leftside">

            </div>
            <div class="rightside">
                <h1>Our Modern Website</h1>
                <p>  Example webPage  </p>
                <button>Welcome</button>
            </div>

        </section>

    </header>


</body>
</html>





