@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Welcome to Secure Area</h2>
    <img src="http://www.iappsecure.com/wp-content/uploads/2022/04/iStock-898760650-Web.jpg" width="600px" height="500px" />
  
</div>
