@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - group03_cognitologin</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/StyleSheet1.css" />
    <style>
        ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
}

li {
  float: left;
  padding-right: 2px;

}
body{
	  background:#1b1b2b;
	  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
	  padding:0px;
	  text-align:center;
	  font-family: 'Oswald', sans-serif;
	  font-size: 18px;
	  height: 100vh;
	}
	h1{
	  color:#212121;
	  font-weight:100;
	}
	.spacer {
	 padding: 30px 0;
	}
    </style>

</head>
<body>
    
       
        <nav padding-top="30px" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <img  padding-left="0" height="10%" width="10%" src="https://animationvisarts.com/wp-content/uploads/2021/01/IBM-Logo-Design-1972-present.png"asp-area="" asp-controller="Home" asp-action="Index"></img>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>






                <div>
                    <ul class="style-1">
                        
                     
                        

                        @if ((await AuthorizationService.AuthorizeAsync(User, "AdminOnly")).Succeeded)
                        {
                    
                    <li class="">
                            <a class="btn" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>

                    <li class="">
                            <a class="btn" asp-area="" asp-controller="Products" asp-action="Index">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn" asp-area="" asp-controller="Admin" asp-action="Index">Admin</a>
                    </li>
                    <li>
                        <a class="btn" color="white">@User.Identity.Name</a>
                    </li>
                                    <li class="nav-item">
                                        <a class="btn" asp-area="" asp-controller="Home" asp-action="GenerateMfaCode">MFA</a>
                                    </li>
                                                    <li class="nav-item">
                                                        <a class="btn" asp-area="" asp-controller="Home" asp-action="Logout">Logout</a>
                                                    </li>
                        }



                       else{
                        @if (User.Identity.IsAuthenticated)
                        {
                        
                        <li class="">
                            <a class="btn" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>

                    <li class="">
                            <a class="btn" asp-area="" asp-controller="Products" asp-action="Index">Products</a>
                    </li>
                    <li>
                        <a class="btn" color="white">@User.Identity.Name</a>
                    </li>
                                    <li class="nav-item">
                                        <a class="btn" asp-area="" asp-controller="Home" asp-action="GenerateMfaCode">MFA</a>
                                    </li>
                                                    <li class="nav-item">
                                                        <a class="btn" asp-area="" asp-controller="Home" asp-action="Logout">Logout</a>
                                                    </li>
                                                   }
                  else{
                      
                        <li class="">
                            <a class="btn" asp-area="" asp-controller="Home" asp-action="Privacy">Login</a>
                        </li>
                  }  
                  }

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
